* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    max-width: 900px;
    min-width: 400px;
    display: flex;
    background-color: dimgrey;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 35px;
    border-radius: 35px;
}

.output {
    display: flex;
    flex-direction: column;
    align-items:end;
    background-color: #828282;
    border: 1px solid whitesmoke;
    border-radius: 25px;
    width: 100%;
    padding-right: 25px;
}

#current-calculation {
    font-size: 14px;
    color: white;
}

#sum {
    font-size: 20px;
    color: white;
}

.inputs {
    display: flex;
    gap: 16px;
    flex-wrap:wrap;
}

.input {
    display: flex;
    border-radius: 999px;
    background-color: grey;
    align-items: center;
    justify-content: center;
    padding: 5px;
    flex: 1 1 calc(25% - 30px);
    border: .3px solid white;
}

.top {
    background-color: lightgrey;
}

.orange {
    background-color: orange;
}

button {
    all: unset;
    cursor: pointer;
    width: 20%;
  }